/* @font-face {
  font-family: "RedHatMono";
  src: url(./assets/fonts/);
} */

* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  overflow-x: hidden;
  background-color: grey;
}

h2 {
  font-size: calc(2rem + 1vw);
  font-weight: normal;
}
footer {
  background-color: black;
  color: white;
}
footer h2 {
  padding: 2rem;
}
.links-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-link{
  font-size: calc(0.8rem + 0.5vw);
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 1rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  transition: all 0.15s ease;
  margin-top: 0.5rem;
}
.footer-link:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
}
#home {
  background-color: rgb(13, 13, 13);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 0 2rem;
  height: 100vh;
}
.welcome-text {
  font-size: 12rem;
  margin-left: 5rem;
}

header {
  background-color: black;
  position: fixed;
  color: white;
  width: 100vw;
  height: calc(5rem + 0.5vw);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 2rem;
}
.logo {
  font-size: 2rem;
}
.nav-elements {
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
}
.nav-element {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}


